{%- if section.settings.show_section -%}
  <section class="Section Section--spacingNormal" data-section-id="{{ section.id }}" data-section-type="product-graphic">
    {%- if section.settings.title != blank -%}
      <header class="SectionHeader SectionHeader--center">
        <div class="Container">
          <h3 class="SectionHeader__Heading Heading u-h3">{{ section.settings.title | escape }}</h3>
        </div>
      </header>
    {%- endif -%}
  </section>
{%- endif -%}

{% schema %}
{
  "name": "Product graphic",
  "class": "shopify-section--bordered",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_section",
      "label": "Show section",
      "default": true
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Product Graphic"
    }
  ]
}
{% endschema %}